In [21]:
import pandas as pd
base = pd.read_csv('credit_data.csv')
base.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [22]:
base.shape

(2000, 5)

In [23]:
base = base.drop('i#clientid', axis = 1)
base.head()

         income        age         loan  c#default
0  66155.925095  59.017015  8106.532131          0
1  34415.153966  48.117153  6564.745018          0
2  57317.170063  63.108049  8020.953296          0
3  42709.534201  45.751972  6103.642260          0
4  66952.688845  18.584336  8770.099235          1

In [24]:
base = base.dropna()
base.shape

(1997, 4)

In [25]:
from sklearn.preprocessing import StandardScaler
scaler_x = StandardScaler()
base[['income', 'age', 'loan']] = scaler_x.fit_transform(base[['income', 'age', 'loan']])
base.head()

     income       age      loan  c#default
0  1.453898  1.336861  1.201907          0
1 -0.762398  0.536639  0.695744          0
2  0.836733  1.637207  1.173812          0
3 -0.183244  0.362998  0.544366          0
4  1.509532 -1.631534  1.419754          1

In [26]:
X = base.drop('c#default', axis = 1)
y = base['c#default']

In [27]:
X.head()

     income       age      loan
0  1.453898  1.336861  1.201907
1 -0.762398  0.536639  0.695744
2  0.836733  1.637207  1.173812
3 -0.183244  0.362998  0.544366
4  1.509532 -1.631534  1.419754

In [28]:
y.head()

0    0
1    0
2    0
3    0
4    1
Name: c#default, dtype: int64

In [29]:
X.columns

Index(['income', 'age', 'loan'], dtype='object')

In [31]:
import tensorflow as tf
colunas = [tf.feature_column.numeric_column(key = column) for column in X.columns]

In [34]:
print(colunas[2])

_NumericColumn(key='loan', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)

In [35]:
from sklearn.model_selection import train_test_split
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [36]:
X_treinamento.shape

(1397, 3)

In [37]:
X_teste.shape

(600, 3)

In [38]:
funcao_treinamento = tf.estimator.inputs.pandas_input_fn(x = X_treinamento,
                                                        y = y_treinamento,
                                                        batch_size = 8, 
                                                        num_epochs = None,
                                                        shuffle = True)

In [39]:
classificador = tf.estimator.DNNClassifier(feature_columns = colunas, hidden_units = [4, 4])
classificador.train(input_fn = funcao_treinamento, steps = 1000)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/7f/wlmrltf57q95bdd5fl85dpw40000gn/T/tmpc2o3i3t1
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/7f/wlmrltf57q95bdd5fl85dpw40000gn/T/tmpc2o3i3t1', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x1a229b5080>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into /var/folders/7f/wlmrltf57q95bdd5fl85dpw40000gn/T/tmpc2o3i3t1/model.ckpt.
INFO:tensorflow:loss = 5.559659, step = 1
INFO:tensorflow:global_step/sec: 417.446
INFO:tensorflow:loss = 2.9148216, step = 101 (0.241 sec)
INFO:tensorflow:global_step/sec: 562.575
INFO:tensorflow:loss = 1.5748097, step = 201 (0.180 sec)
INFO:tensorflow:global_step/sec: 527.969
INFO:tensorflow:loss = 0.34459528, step = 301 (0.187 sec)
INFO:tensorflow:global_step/sec: 535.665
INFO:tensorflow:loss = 0.8360754, step = 401 (0.188 sec)
INFO:tensorflow:global_step/sec: 585.15
INFO:tensorflow:loss = 0.29519054, step = 501 (0.171 sec)
INFO:tensorflow:global_step/sec: 608.425
INFO:tensorflow:loss = 0.32318193, step = 601 (0.164 sec)
INFO:tensorflow:global_step/sec: 610.295
INFO:tensorflow:loss = 1.1354533, step = 701 (0.165 sec)
INFO:tensorflow:global_step/sec: 592.091
INFO:tensorflow:loss = 0.66880006, step = 801 (0.169 sec)
INFO:tensorflow:global_step/sec: 606.472
INFO:tensorflow:loss = 0.40933636, step = 901 (0.166 sec)
INFO:tensorflow:Saving checkpoints for 1000 into /var/folders/7f/wlmrltf57q95bdd5fl85dpw40000gn/T/tmpc2o3i3t1/model.ckpt.
INFO:tensorflow:Loss for final step: 1.0875595.

In [41]:
funcao_teste = tf.estimator.inputs.pandas_input_fn(x = X_teste, y = y_teste,
                                              batch_size = 8, num_epochs = 1000,
                                              shuffle = False)

In [42]:
metricas_teste = classificador.evaluate(input_fn = funcao_teste, steps = 1000)

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2018-11-21-22:41:47
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /var/folders/7f/wlmrltf57q95bdd5fl85dpw40000gn/T/tmpc2o3i3t1/model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Evaluation [100/1000]
INFO:tensorflow:Evaluation [200/1000]
INFO:tensorflow:Evaluation [300/1000]
INFO:tensorflow:Evaluation [400/1000]
INFO:tensorflow:Evaluation [500/1000]
INFO:tensorflow:Evaluation [600/1000]
INFO:tensorflow:Evaluation [700/1000]
INFO:tensorflow:Evaluation [800/1000]
INFO:tensorflow:Evaluation [900/1000]
INFO:tensorflow:Evaluation [1000/1000]
INFO:tensorflow:Finished evaluation at 2018-11-21-22:41:49
INFO:tensorflow:Saving dict for global step 1000: accuracy = 0.96475, accuracy_baseline = 0.8635, auc = 0.994711, auc_precision_recall = 0.96963656, average_loss = 0.07444225, global_step = 1000, label/mean = 0.1365, loss = 0.595538, precision = 0.8756957, prediction/mean = 0.13482535, recall = 0.8644689
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 1000: /var/folders/7f/wlmrltf57q95bdd5fl85dpw40000gn/T/tmpc2o3i3t1/model.ckpt-1000

In [43]:
metricas_teste

{'accuracy': 0.96475,
 'accuracy_baseline': 0.8635,
 'auc': 0.994711,
 'auc_precision_recall': 0.96963656,
 'average_loss': 0.07444225,
 'label/mean': 0.1365,
 'loss': 0.595538,
 'precision': 0.8756957,
 'prediction/mean': 0.13482535,
 'recall': 0.8644689,
 'global_step': 1000}